#box{
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}

#footer{
   background-color: #444444;
   padding: 20px;
   margin-top: 30px;
}

@media screen and (max-width: 950px) {
   span{
      display: none;
   }
 }